.fee-table {
  width: 100%;
  border-collapse: collapse;
}

.fee-table thead {
  background-color: var(--blue-400);
  color: var(--white);
  font-size: 12px;
  text-align: right;
}

.fee-table tbody {
  color: var(--gray-700);
  font-size: 14px;
  text-align: right;
}

.fee-table th,
.fee-table td {
  padding: 10px;
}

.fee-table td {
  padding-top: 20px;
  padding-bottom: 20px;
}

.fee-table thead th:first-child,
.fee-table tbody td:first-child {
  text-align: left;
}

.fee-table tbody tr {
  border-bottom: 2px var(--blue-200) solid;
}

.fee-table-item-name {
  font-weight: bold;
}

.fee-table-item-description {
  color: var(--gray-600);
  margin-top: 5px;
}

.fee-table tfoot {
  text-align: right;
}

.fee-table-total-label {
  color: var(--gray-900);
  font-weight: bold;
  font-size: 22px;
  margin-top: 20px;
}

.fee-table-total {
  color: var(--blue-500);
  font-weight: bold;
  font-size: 22px;
  margin-top: 10px;
}

.fee-table-vat-disclaimer {
  color: var(--gray-700);
  font-size: 12px;
  margin-top: 10px;
}

.fee-table-item-description-empty-margin .inline-edit__button {
  margin-left: 0;
}
